<h1>{{title}}</h1>
<p>Auction Item ID: {{itemid}}</p>
<p>{{description}}</p>
<p>Artist: {{artist}}</p>
<p>About the Artist: {{aboutartist}}</p>
<p>Medium: {{medium}}</p>
<p>Size: {{size}}</p>

<ul>
    {{#each bidlist}}
    <li>${{amount}}</a></li>
    {{/each}}
</ul>