<h1><img src="{{userImage}}" alt="User Profile Image"> {{displayName}}'s Profile</h1>

<h3>{{displayName}}'s Bids:</h3>
<ul>
    {{#if userBidList}}
    {{#each userBidList}}
    <li>Bid for Item ID: <a href="/view?id={{itemID}}">{{itemID}}</a> | Amount: ${{amount}}</a></li>
    {{/each}}
    {{else}}
    <li>No bids</li>
    {{/if}}
</ul>